body {
  padding-top: 100px;
}

.col, [class*="col-"] {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 50px;
  counter-increment: column;
  background-color: #d1ecf1;
  border: 2px solid white;
  color: #0c5460;
  
}

.col::before, [class*="col-"]::before {
  content: counter(column);
}

.nav-image,
img{
  height: 140px;
  width: 130px;
}

.navbar-brand{
  font-family:'Playfair Display', serif;
}
.jumbotron{
  background-color: pink !important;
}
.jt-aqua{
  background-color: rgb(150, 220, 213) !important;
}
.jt-blue{
  background-color: rgb(126, 166, 227) !important;
}
.about-img{
  width: 300px;
  height: auto;
margin-top: 5px;
position: absolute;
}
.about {
  padding-bottom: 50px;
}

 .about-me-text{
  font-size: 14px !important;
}

.container {
  width: 800px !important;
}

.experience-text{
  font-size: 14px !important;
}

.passion-text{
  font-size: 14px !important;
}

.experience{
  padding-bottom: 50px;
}

.passion{
  padding-bottom: 50px;
}

.about-img-right{
  right: 0;
  width: 300px;
  height: auto;
margin-top: 5px;
position: absolute;
}

footer{
  
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background-color: rgb(223, 223, 223);
}

/*contact sheet*/

.contact-sheet{
  padding-top: 70px;
  padding-bottom: 50px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(150, 220, 213); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: rgb(238, 144, 158);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:palevioletred;
}
.contact-container {
  border-radius: 5px;
  background-color: #dcdcdc;
  padding: 20px;
}